<div class='title_window'>
  Macht hoch die Tür, die Tore weit
</div>
<div class='text_window'>
  Macht hoch die Tür, die Tore weit:<br>
  Es kommt der Herr der Herrlichkeit,<br>
  Ein König aller Königreich,<br>
  Ein Heiland aller Welt zugleich,<br>
  Der Heil und Leben mit sich bringt.<br>
  Derhalben jauchzt, mit Freuden singt:<br>
  Gelobet sei mein Gott, mein Schöpfer, reich von Rat.<br>
  <br>
  Er ist gerecht, ein Helfer werth,<br>
  Sanftmütigkeit ist fein Gefährt,<br>
  Sein Königskron ist Heiligkeit,<br>
  Sein Szepter ist Barmherzigkeit;<br>
  All unsre Not zum End er bringt.<br>
  Derhalben jauchzt, mit Freuden singt:<br>
  Gelobet fei mein Gott, mein Heiland groß von Tat.<br>
  <br>
  O wohl dem Land, o wohl der Stadt,<br>
  So diesen König bei sich hat!<br>
  Wohl allen Herzen insgemein,<br>
  Da dieser König ziehet ein!<br>
  Er ist die rechte Freudensonn,<br>
  Bringt mit sich lauter Freud und Wonn.<br>
  Gelobet sei mein Gott, mein Tröster früh und spat!<br>
  <br>
  Macht hoch die Tür, die Tore weit,<br>
  Eur Herz zum Tempel macht bereit;<br>
  Die Zweiglein der Gottseligkeit<br>
  Steckt aus mit Andacht, Lust und Freud;<br>
  So kommt der König auch zu euch,<br>
  Ja Heil und Leben mit zugleich.<br>
  Gelobet sei mein Gott, voll Rat, voll Tat, voll Gnad!<br>
  <br>
  Komm, o mein Heiland, Jesu Christ,<br>
  Meins Herzens Tür dir offen ist;<br>
  Ach zeuch mit deiner Gnaden ein,<br>
  Dein Freundlichkeit auch uns erschein.<br>
  Dein heilger Geist uns führ und leit<br>
  Den Weg zur ewgen Seligkeit.<br>
  Dem Namen dein, o Herr, sei ewig Preis und Ehr!
</div>