<div class='title_window'>
  Im Advent
</div>
<div class='text_window'>
  Es naht heran die Weihnachtszeit,
  Die Zeit der frommen Freude;
  Wo Jeder ist so gern bereit,
  Zu trennen sich vom Leide.

  Gern möcht' ich reich und mächtig sein,
  Die ganze Welt beschenken;
  In jedem stillen Kämmerlein
  Der Armuth treu gedenken.

  Es wäre wohl ein rechtes Glück
  Des Wohlthuns heil'ger Segen,
  Wohin man wendete den Blick,
  Erfreu'n auf allen Wegen.

  Doch Einen, Einen ganz erfreu'n
  Und ihn so recht beglücken, -
  Dies müßte Götterwonne sein,
  Das seligste Entzücken!

  Clara Held-Marbach
</div>
<%= image_tag 'adventsgedichte1.jpg', height: 300 %>