<div class='title_window'>
  Advent
</div>
<div class='text_window'>
  Es treibt der Wind im Winterwalde<br>
  die Flockenherde wie ein Hirt,<br>
  und manche Tanne ahnt, wie balde<br>
  sie fromm und lichterheilig wird,<br>
  und lauscht hinaus. Den weißen Wegen<br>
  streckt sie die Zweige hin - bereit,<br>
  und wehrt dem Wind und wächst entgegen<br>
  der einen Nacht der Herrlichkeit.<br>
  <br>
  Rainer Maria Rilke<br>
</div>