<div class='title_window'>
  Leise rieselt der Schnee
</div>
<div class='text_window'>
  Leise rieselt der Schnee;<br>
  still und starr ruht der See,<br>
  weihnachtlich glänzet der Wald,<br>
  freue dich, Christkind kommt bald!<br>
  In dem Herzen ist's warm,<br>
  still schweigt Kummer und Harm,<br>
  Sorge des Lebens verhallt:<br>
  Freue dich, Christkind kommt bald!<br>
  Bald ist heilige Nacht,<br>
  Chor der Engel erwacht,<br>
  hört nur, wie lieblich es schallt:<br>
  Freue dich, Christkind kommt bald!<br>
</div>
<%= image_tag 'adventbild.png', height: 300 %>
<div class='title_window'>
  Weihnachtsschnee
</div>
<div class='text_window'>
  Ihr Kinder, sperrt die Näschen auf,<br>
  Es riecht nach Weihnachtstorten;<br>
  Knecht Ruprecht steht am Himmelsherd<br>
  Und bäckt die feinsten Sorten.<br>
  Ihr Kinder, sperrt die Augen auf,<br>
  Sonst nehmt den Operngucker:<br>
  Die große Himmelsbüchse, seht,<br>
  Tut Ruprecht ganz voll Zucker.<br>
  Er streut - die Kuchen sind schon voll -<br>
  Er streut - na, das wird munter:<br>
  Er schüttelt die Büchse und streut und streut<br>
  Den ganzen Zucker runter.<br>
  Ihr Kinder sperrt die Mäulchen auf,<br>
  Schnell! Zucker schneit es heute;<br>
  Fangt auf, holt Schüsseln - ihr glaubt es nicht?<br>
  Ihr seid ungläubige Leute!<br>
</div>