<%= image_tag 'nikolaus.jpg', class: 'image_top', height: 300 %>
<div class='title_window'>
  Nikolaus, Du guter Mann,
</div>
<div class='text_window'>
  Nikolaus, Du guter Mann,<br>
  wohnst im Himmel, so weit fort,<br>
  wer Dein Liedchen singen kann,<br>
  lockst Dich bald an diesen Ort.<br>
  Denn sie warten schon gespannt,<br>
  kleine Kinder, große Kinder,<br>
  dass von Deiner guten Hand<br>
  sie beschenkt werden im Winter.<br>
  Süßes bringst Du, Nüsse, Mandeln,<br>
  leerst es aus dem Jutesack,<br>
  doch Du lässt nicht mit Dir handeln,<br>
  für Böse hast Du nichts gepackt.<br>
  Doch sind die Kinder brav gewesen,<br>
  dann geizt Du nicht mit Deinen Gaben,<br>
  im gold'nen Buch hast Du gelesen,<br>
  dass wahrlich sie verdient es haben.<br>
</div>
<%= image_tag 'nikolaus_klein.jpg', height: 300 %>
<div class='title_window'>
  Nikolaus und Krampus
</div>
<div class='text_window'>
  Trag’ an meinen Sachen schwer<br>
  und von sehr weit komm’ ich her,<br>
  bringe jedem braven Kind<br>
  eine Kleinigkeit geschwind.<br>
  Tu’ das viele hundert Jahr’,<br>
  deshalb ist so weiß mein Haar.<br>
  Draußen ist es bitterkalt;<br>
  sind die Stiefel auch uralt,<br>
  wärmen sie mich superfein,<br>
  ’s könnte gar nicht besser sein.<br>
  Und der Kerl da neben mir?<br>
  Der ist böse, sag’ ich dir!<br>
  Wer nicht folgt, der spürt die Rute,<br>
  manche steckt er in die Butte,<br>
  die trägt er am Rücken schnell<br>
  in sein Zuhause, in die Höll’!<br>
  Was, mein Kind, du glaubst es nicht,<br>
  was der alte Mann da spricht?<br>
  D’ hast ja recht, ich meine auch,<br>
  wir sind Legende und ein Brauch!<br>
</div>