<div class='title_window'>
  Kommst du? kommst du? Licht der Heiden!
</div>
<div class='text_window'>
  Kommst du? kommst du? Licht der Heiden!<br>
  Ja, du kommst und säumest nicht,<br>
  Weil du weist, was uns gebricht;<br>
  O! du starker Trost im Leiden!<br>
  Jesu, meines Herzens Tür<br>
  Steht dir offen, komm zu mir.<br>
  <br>
  Ja, du bist bereits zugegen,<br>
  Du Weltheiland, Jungfraunsohn!<br>
  Meine Sinne spüren schon<br>
  Deinen gnadenvollen Segen,<br>
  Deine Wunder-Seelenkraft,<br>
  Deine Frucht und Herzenssaft.<br>
  <br>
  Adle mich durch deine Liebe,<br>
  Jesu, nimm mein Flehen hin,<br>
  Schaffe, dass mein Geist und Sinn<br>
  Sich in deinem Lieben übe:<br>
  Sonst zu lieben dich, mein Licht,<br>
  Steht in meinen Kräften nicht.<br>
  <br>
  Jesu, rege mein Gemüte,<br>
  Jesu, öffne mir den Mund,<br>
  Dass dich meines Herzens Grund<br>
  Innig preise für die Güte,<br>
  Die du mir, o Seelengast!<br>
  Lebenslang erwiesen hast.<br>
  <br>
  Lass durch deines Geistes Gaben,<br>
  Liebe, Glauben und Geduld,<br>
  Durch Bereuung meiner Schuld,<br>
  Mich zu dir sein hocherhaben;<br>
  Dann so will ich singen dir<br>
  Hosianna für und für.<br>
</div>