<div class='title_window'>
  Barbarazweige
</div>
<div class='text_window'>
  Du brauner, dunkler Zweig,<br>
  blüh doch endlich, blüh,<br>
  blüh, blüh, blüh, ...<br>
  Lass mich trinken, lass mich wachsen,<br>
  du musst warten! Treib mich nicht,<br>
  denn mich treibt ja schon das Licht!<br>
  Hörst du meine Knospen knacksen?<br>
  Sei gewiss, ich werde blüh´n!<br>
  Schau, ein Spitzchen ist schon grün!<br>
</div>
<div class='zusatz_window'>
  <b>Wer war die heilige Barbara?</b><br>
  <br>
  Am 04. Dezember gedenken Katholiken der heiligen Barbara, einer Märtyrerin aus dem dritten Jahrhundert. Der Legende nach wurde sie von ihrem eigenen Vater zunächst in einen Turm gesperrt und später hingerichtet, weil sie keinen ihrer Verehrer erhörte, sondern sich stattdessen dem christlichen Glauben zuwandte.<br>
  <br>
  Die heilige Barbara gilt als Schutzpatronin der Bergleute, der Geologen, der Architekten, der Mädchen und der Gefangenen. In vom Bergbau geprägten Regionen wie etwa dem Ruhrgebiet finden am 04. Dezember noch heute traditionelle Barbarafeiern statt.<br>
  <br>
  <b>Was hat es mit dem Barbarazweig auf sich?</b><br>
  <br>
  Die Legende sagt, dass sich auf Barbaras Weg in die Gefangenschaft ein Kirschbaumzweig in ihrem Kleid verfangen habe. Diesen habe sie mit Wasser aus ihrem Trinkbecher zum Blühen gebracht. Daraus hat sich der Brauch vom Barbarazweig entwickelt.<br>
  <br>
  Als Barbarazweige werden traditionell Zweige vom Kirsch-, Apfel, Pflaumen- oder Mandelbaum, von der Forsythie, dem Winterjasmin oder der Rosskastanie genommen und in ein Wasserglas gestellt.<br>
  <br>
  <b>Wie hält der Barbarazweig besonders lange?</b><br>
  <br>
  Damit Sie viel Freude an Ihren Barbarazweigen haben, sollten Sie folgende Tipps beachten: Barbarazweige blühen nur auf, wenn es vor dem Schneiden bereits Frost gegeben hat. Ist dies nicht der Fall, können Sie die Zweige für einige Stunden in die Gefriertruhe legen.<br>
  <br>
  Ebenfalls wichtig: die Barbarazweige zunächst über Nacht in lauwarmes Wasser legen und erst dann in eine Vase stellen. Das Wasser spätestens alle drei Tage wechseln und die Zweigenden gelegentlich etwas anspitzen.<br>
  <br>
  So haben Sie gute Chancen, dass die Barbarazweige pünktlich zu Weihnachten in voller Blüte stehen - ein gutes Omen für die Zukunft!<br>
</div>
