<div class='title_window'>
  Lach mal im Advent
</div>
<div class='text_window'>
  A in Lichtlein brennt bereits.<br>
  D as zweite steht bereit.<br>
  V ür Nummer drei reichts noch soeben.<br>
  E in viertes wird nicht überleben.<br>
  N un ist es die Wirklichtkeit.<br>
  T ja, Weihnachten ist nicht mehr weit.<br>
</div>
<%= image_tag 'advent2.jpg', height: 100 %>