<div class='title_window'>
  Ein König kommt zu Zions Toren
</div>
<%= image_tag 'weihnachtsgedichte.jpg', class: 'image_top', height: 300 %>
<div class='text_window'>
  Ein König kommt zu Zions Toren<br>
  Mit seiner auserwählten Schar;<br>
  Was der Propheten Mund beschworen,<br>
  Erfüllt sich heute wunderbar.<br>
  Ein Fürst erscheint vor Salems Mauern,<br>
  Ein Herrscher, dessen Thron und Reich<br>
  Soll alle andern überdauern -<br>
  Ein König, dem kein zweiter gleich.<br>
  <br>
  Auf seinem Haupt ist eine Krone,<br>
  Es ist kein Schwert in seiner Hand;<br>
  Zu dem geringsten Menschensohne<br>
  Stellt ihn sein schimmerlos Gewand.<br>
  Sein Blick geht nicht vom stolzen Pferde<br>
  Hoch auf gebückte Häupter hin;<br>
  Sanftmütig blickt er auf die Erde<br>
  Und reitet auf der Eselin.<br>
  <br>
  Nicht vom gewappnet schweren Schritte<br>
  Begleitet ihn der Widerhall;<br>
  Nicht tönt aus bunter Scharen Mitte<br>
  Der Cymbeln und Posaunen Schall.<br>
  Doch vor ihm zieht und an der Seiten<br>
  Viel Volks im frohen Jubelchor;<br>
  Sie streuen grünes Laub und breiten<br>
  Die Kleider seinen Schritten vor.<br>
  <br>
  Sie rufen: Heil Ihm, der den Frieden,<br>
  Den ewgen Frieden wiederbringt;<br>
  Dem Helden, der den Kampf entschieden,<br>
  Der auch den letzten Feind bezwingt!<br>
  Gelobt sei, der da kommt im Namen<br>
  Des Herrn zu seines Volkes Stamm<br>
  Ein Hosianna Davids Samen!<br>
  Ein, Hosianna Gottes Lamm!<br>
  <br>
  So ziehn sie zu des Tempels Stufen.<br>
  Da hebt der Neid sein Haupt und spricht:<br>
  Vernimmst du nicht, was diese rufen?<br>
  Verbietest du es ihnen nicht?<br>
  Allein die Wahrheit muss doch siegen;<br>
  Der Herr erwidert ihnen: Nein!<br>
  Ich sage euch, wenn diese schwiegen,<br>
  So würden selbst die Steine schrein!<br>
  <br>
  Nun denn mein Herz, sei auch nicht stille<br>
  Vor Ihm, dem Alles Ehre bringt!<br>
  Es ist ja deines Königs Wille,<br>
  Dass man sein Lob mit Freuden singt.<br>
  Du sollst den Namen fröhlich nennen,<br>
  Der dir den Vater selbst bezeugt,<br>
  Den alle Zungen noch bekennen,<br>
  Dem noch ein jedes Knie sich beugt.<br>
  <br>
  Und wo du siehst, dass diesem Namen<br>
  Die Pforten werden aufgetan,<br>
  Da sprich auch du dein freudig: Amen,<br>
  Und schließe dich mit Freuden an.<br>
  Wo man sich aufmacht Ihm entgegen,<br>
  Da sei mit Palmen auch bereit,<br>
  Und geh ihm willig hinzulegen<br>
  All deine Hab und Herrlichkeit!<br>
  <br>
  Wer mag sich wider Ihn erkühnen,<br>
  Und ihm verweigern seinen Zoll?<br>
  Lass du dein Herz nur vor ihm grünen,<br>
  Und werde seines Ruhmes voll!<br>
  So manches Lied ist schon verklungen, -<br>
  Das Hosianna tönt noch heut,<br>
  Das Hosianna wird gesungen<br>
  So lang im Himmel Gott gebeut!<br>
  <br>
  Auf tretet unter Jesu Fahnen,<br>
  Zieht mit der auserwählten Schar,<br>
  Zum heilgen Berg den Weg zu bahnen,<br>
  Zu Gottes Tempel und Altar!<br>
  Wo Jesus wandelt, da ist Wonne,<br>
  Da singt man von der Freudenzeit;<br>
  Wo Jesus weilt, da scheint die Sonne<br>
  Der Gnade und Barmherzigkeit.<br>
  <br>
  Einst wird er mächtig wiederkommen<br>
  Herab von seines Vaters Haus,<br>
  Ein Flammenblitz selbst für die Frommen<br>
  Und für die Bösen Schreck und Graus;<br>
  Dann richtet er den Kreis der Erden,<br>
  Dann kommt er und mit ihm sein Lohn;<br>
  O betet, dass wir würdig werden<br>
  Zu stehen vor des Menschen Sohn!<br>
</div>