<div class='title_window'>
  Eine kleine Weihnachtsgeschichte vom Huber Seppi, einem 10-jährigen Jungen aus dem Unterland Bayerns.
</div>
<div class='text_window'>
  Der Adpfend ist de schönste Zeit im Winta.<br>
  De meisten Leit habm im Winta a Grippe. De is mit Fieber.<br>
  <br>
  Mir hom a oane, de is mit Beleichtung und man schreibst mit ´K´.<br>
  <br>
  Drei Wocha bevor´s Christkindl kimmt, stellt da Pappa de Kripp´m im Wohnzimma auf und mei kloane Schwesta und i dermamithelfa.<br><br>
  Kripp´m san langweile.<br>
  <br>
  Owa de unser ned weimia habm mordstolle Figurn drin. I hob amoi an Josef und s´Christkindl auf´n Ofa g´stellt, dass ses sche warm habm - und des war eahna z´hoass. S´Christkindl is schwarz worn und an Josef hats in lauta Trümma zrissn. Oa Fuaß vo eahm is bis in Platzldoag g´flogn und des war koa schöna Anblick. Mei Mamma hat mi g´schimpft und g´sogt, das ned amoi de Heiligen vor meiner Bledheit sicha sand. Wenn d´Maria ohne Mo und ohne Kind herumsteht, schaugst ned guat aus.<br>
  <br>
  Owa i hob Gott seidank vej Figurn in meina Spuikistn - und da Josef is jetzt da Donald Duck. Ois Chistkindl woit i an Asterix nehma, wai der so kloa is, daß er in den Fuadertrog paßt.<br>
  <br>
  Owa da hot d´Mama g´sogt, ma ko doch ois Chistkindl koan Asterix hernehma, do is ja no as verbrennte Christkindl bessa. Es is zwar schwarz, owa immerhin no a Christkindl.<br>
  <br>
  Hintan Christkindl stehnan zwoa Oxn, a Esl, a Nilpferd und a Brontosaurier. Des Nilpferd und den Saurier hob i hig´stellt, wei da Ox und da Esl warn ma z´langweili.<br>
  <br>
  Links neba den Stoi kemman grod de heilign drei König daher. Oa König is an Papa im letzten Adpfend beim Putzn owe g´foin und er war total hi. Jetzt hama nur mehr zwoa heilige Könige und an heiligen Batman als Ersatz.<br>
  <br>
  Normal homand de heiligen Könige an haufa Zeig für´s Christkindl dabei, nämlich Gold, Weihrauch und Pürree - oda so ähnlich ... Vo de unsan hod oana anstatt Goid a Kaugummipapierl dabei, des glänzt so schö. Da anda hot a Marlboro in da Hand, wei ma koan Weihrauch ham. Owa de Marlboro raucht a schö, wenn mas ozündt. Da heilige Batman hat a Pistoin dabei. Des is zwar koa G´schenk füa a Christkindl, owa damit konn er´s vom Saurier beschütz´n.<br>
  <br>
  Hinta dene drei Heilige san a por rotheitige Indiana und a kaasiga Engl. Den Engl is a Fuaß obbrocha, drum haman auf a Motorradl g´setzt, daß er si leichta tuat. Mit´n Motorradl kann er fahrn, wenn er grod net fliagt.<br>
  <br>
  Rechts neban Stoi habma a Rotkäppchen hig´stellt. Si hod a Pizza und drei Weißbier füa d´Oma dabei. An Woif hama ned, drum lurt unta am Baam a Bummerl ois Ersatzwoif viara.<br>
  <br>
  Mehr steht in unsara Kripp´m ned drin, owa des reicht a. Auf d´Nacht schoit mas Liacht ei und dann is unsa Kripp´m erscht so richte schö. Mia sitz ma olle do und sing ma Liarda vom Adpfend. Manche gfoinma, owa de meistn san ma z´luasat.<br>
  <br>
  <br>
  Mei Opa hot ma amoi a Gedicht vom Adpfend glernt, du des geht so:<br>
  <br>
  Adpfend, Adpfend, da Bärwurz brennt,<br>
  <br>
  erscht dringst oan, dann zwoa, drei, vier,<br>
  <br>
  dann hauts´te mit dem Hirn an d´Tür.<br>
  <br>
  Obwohl des Gedicht recht sche is, hot d´Muata gsogt, das i mir´s ned merka deaf.<br>
  <br>
  <br>
  Bis ma schaut, is da Adpfend voabei und d´Weihnacht a und mit dem Johr geht´s dahi. D´Gschenk san auspackt und man griagt vor Ostern nixmehr, höx´tns an Geburtstag<br>
  <br>
  Owa oans is gwiß - da Adpfend kimmt olawei wieda !!!