<div class='title_window'>
  Kleines Senfkorn Hoffnung
</div>
<div class='text_window'>
  Kleines Senfkorn Hoffnung, mir umsonst geschenkt,<br>
  werde ich dich pflanzen, dass du weiter wächst?<br>
  Dass du wirst zum Baume, der uns Schatten wirft,<br>
  Früchte trägt für alle, alle, die in Ängsten sind.<br>
  <br>
  Kleiner Funke Hoffnung, mir umsonst geschenkt,<br>
  werde ich dich nähren, dass du überspringst?<br>
  Dass du wirst zur Flamme, die uns leuchten kann,<br>
  Feuer schlägt in allen, allen, die im Finstern sind.<br>
  <br>
  Kleine Münze Hoffnung, mir umsonst geschenkt,<br>
  werde ich dich teilen, dass du Zinsen trägst?<br>
  Dass du wirst zur Gabe, die uns leben lässt,<br>
  Reichtum selbst für alle, alle, die in Armut sind.<br>
  <br>
  Kleine Träne Hoffnung, mir umsonst geschenkt,<br>
  werde ich dich weinen, dass dich jeder sieht?<br>
  Dass du wirst zur Trauer, die uns handeln macht,<br>
  leiden lässt mit allen, allen, die in Nöten sind.<br>
  <br>
  Kleines Senfkorn Hoffnung, mir umsonst geschenkt,<br>
  werde ich dich streuen, dass du manchmal bremst?<br>
  Dass du wirst zum Grunde, der uns halten lässt,<br>
  Neues wird mit allen, allen, die in Zwängen sind.<br>
</div>