<div class='title_window'>
  Rauhreif vor Weihnachten
</div>
<%= image_tag 'weihnachtssterne.jpg', class: 'image_top', height: 300 %>
<div class='text_window'>
  Das Christkind ist durch den Wald gegangen,<br>
  sein Schleier blieb an den Zweigen hangen,<br>
  das fror er fest in der Winterluft<br>
  und glänzt heut morgen wie lauter Duft.<br>
  <br>
  Ich gehe still durch des Christkinds Garten,<br>
  im Herzen regt sich ein süß Erwarten:<br>
  Ist schon die Erde so reich bedacht,<br>
  was hat es mir da erst mitgebracht!<br>
  <br>
  Anna Ritter
</div>