<div class='title_window'>
  Im Advent
</div>
<div class='text_window'>
  Es naht heran die Weihnachtszeit,<br>
  Die Zeit der frommen Freude;<br>
  Wo Jeder ist so gern bereit,<br>
  Zu trennen sich vom Leide.<br>
  <br>
  Gern möcht' ich reich und mächtig sein,<br>
  Die ganze Welt beschenken;<br>
  In jedem stillen Kämmerlein<br>
  Der Armuth treu gedenken.<br>
  <br>
  Es wäre wohl ein rechtes Glück<br>
  Des Wohlthuns heil'ger Segen,<br>
  Wohin man wendete den Blick,<br>
  Erfreu'n auf allen Wegen.<br>
  <br>
  Doch Einen, Einen ganz erfreu'n<br>
  Und ihn so recht beglücken, -<br>
  Dies müßte Götterwonne sein,<br>
  Das seligste Entzücken!<br>
  <br>
  Clara Held-Marbach
</div>
<%= image_tag 'adventsgedichte1.jpg', height: 300 %>