<div class='title_window'>
  Adventslichter
</div>
<div class='text_window'>
  Sieh, in ferne dunkle Zeiten<br>
  Strahlt ein helles klares Licht,<br>
  Und die Augen sehn vom Weiten<br>
  Gottes Gnadenangesicht.<br>
  <br>
  Sehnend blickten auf die Alten,<br>
  Wie in langer dunkler Nacht,<br>
  Daß die Herzen nicht erkalten,<br>
  Stern um Stern ist aufgewacht.<br>
  <br>
  Stern um Stern ist uns entglommen,<br>
  Bis es Tag geworden ist,<br>
  Bis die Sonne ist gekommen,<br>
  Unsre Sonne Jesus Christ.<br>
</div>
<%= image_tag 'adventsgedichte2.jpg', height: 300 %>