<div class='title_window'>
  Weihnachtszeit
</div>
<div class='text_window'>
  Hört, es schallen Himmelslieder<br>
  Lieblich zu der Erde nieder:<br>
  In der heil'gen Nacht<br>
  Gottes Liebe wacht!<br>
  Halleluja!<br>
  <br>
  In den Festesklang der Glocken<br>
  Mischt sich jubelndes Frohlocken:<br>
  Gnade wird uns heut<br>
  In der Weihnachtszeit!<br>
  Halleluja!<br>
  <br>
  Die so treu am Heiland hangen,<br>
  Mög' sie alle lieb umfangen<br>
  Bei dem Lichterbaum<br>
  Sel'ger Kindheit Traum!<br>
  Halleluja!<br>
  <br>
  Julius Gersdorff<br>
</div>