<div class='title_window'>
  Advent
</div>
<div class='text_window'>
  Komm hernieder, komm hernieder!<br>
  Höre unsrer Stimme Laut,<br>
  O Herr Jesu, kehre nieder,<br>
  Zu besuchen Deine Braut;<br>
  Komm hernieder, komm hernieder,<br>
  Daß Dich unsre Seele schaut!<br>
  <br>
  Komm, verheißner Weibessamen,<br>
  Tritt den Schlangenkopf entzwei,<br>
  Daß in Deinem heilgen Namen<br>
  Eva's Schuld gesühnet sei.<br>
  Komm hernieder, komm hernieder,<br>
  Steh Du uns im Kampfe bei!<br>
  <br>
  Komm, o aller Völker Segen,<br>
  Abrahamsverheißner Lohn,<br>
  Dem die Väter sahn entgegen,<br>
  Jakobs Stern und Davids Sohn.<br>
  Komm hernieder, komm hernieder,<br>
  Neige Dich von Deinem Thron!<br>
  <br>
  O erscheine, Licht der Heiden,<br>
  Komm, Du Glanz der Herrlichkeit;<br>
  Ewger Hirte, uns zu meiden<br>
  Komm zur angenehmen Zeit;<br>
  Komm hernieder, komm hernieder,<br>
  Sieh wir halten uns bereit!<br>
  <br>
  Komm, erwählter, auserkorner<br>
  König über Israel,<br>
  Du in Bethlehem geborner<br>
  Jungfraunsohn Imanuel.<br>
  Komm hernieder, komm hernieder,<br>
  Auer Gnaden emger Quell!<br>
  <br>
  Sieh, mir warten mit Verlangen,<br>
  Grüne Bäume, Glanz und Licht<br>
  Sind bereit Dich zu empfangen,<br>
  O so komm und säume nicht!<br>
  Komm hernieder, komm hernieder,<br>
  Zeig uns Herr Dein Angesicht!
</div>