<%= image_tag 'krampus.gif', class: 'image_top' %>
<div class='title_window'>
  Die Rute
</div>
<div class='text_window'>
  Der Krampus bestraft mit seiner Rute,<br>
  aber nur das schlimme, niemals das Gute.<br>
  Unartige packt er in seinen Sack,<br>
  vorbei mit fiesen Schabernack.<br>
  Die Kinder sich die Strafe merken,<br>
  damit das Gute in sich stärken.<br>
</div>
<%= image_tag 'krampus_sw.jpg', height: 300 %>
<div class='title_window'>
  Krampusverstehen
</div>
<div class='text_window'>
  Der Nikolaus hatt’ einen Freund,<br>
  der trug ihm seinen Sack,<br>
  und, weil derselbe sehr schwer war,<br>
  trug er ihn huckepack.<br>
  Als Mönch trug er ein schwarzes Kleid,<br>
  den Rutenbesen auch,<br>
  damit kehrt’ er die Sorgen weg.<br>
  (So sagt ein alter Brauch.)<br>
  So war es früher – ist’s nicht mehr.<br>
  Es muss ein „Furchteinflößer“ her,<br>
  der Hörner hat und Zottelfell,<br>
  wenn er erscheint, erschrickt man schnell!<br>
  Der Besen wurd’ zur Rute dann,<br>
  womit er kräftig schlagen kann,<br>
  damit der Schlimme sehr erschrickt,<br>
  ein Stoßgebet zum Himmel schickt.<br>
  Man macht’ aus ihm den Kinderschreck,<br>
  der er ja gar nie war.<br>
  Er bracht’ Geschenke für sie mit –<br>
  War das nicht wunderbar?<br>
  Doch wer den Ursprung wirklich weiß,<br>
  der fürcht’t den Krampus nicht,<br>
  weil er nur Freund, nicht Teufel ist –<br>
  ein Mönch, bescheiden, schlicht!<br>
</div>