<div class='title_window'>
  Weihnachten
</div>
<div class='text_window'>
  Weißer Flöckchen Schwebefall,<br>
  Stille Klarheit überall,<br>
  Glockenklang und Schellenklingen,<br>
  Mäulchen, die vom Christkind singen,<br>
  Flammen, die von grünen Zweigen<br>
  Gläubig, strahlend aufwärts steigen,<br>
  Und im tiefsten Herzen drinnen<br>
  Ein Erinnern, ein Besinnen ...<br>
  <br>
  Neige dich, mein Herz, und bete,<br>
  Daß das Christkind zu dir trete,<br>
  Auch in deiner Schwachheit Gründen<br>
  Eine Flamme zu entzünden,<br>
  Die das Ringen deiner Tage<br>
  Gläubig strahlend aufwärts trage.<br>
  <br>
  Anna Ritter<br>
</div>