<div id="overlay">
  <div id="window">
    <div class="button">
      <div class="close"></div>
    </div>
    <div id="content">
    </div>
  </div>
  <div id="background"></div>
</div>

<div class='title'>
  <%= Date.today.day %>. Advent
</div>

<div class='all_fenster' data-url='<%= url_for(action: :window, id: "_nr_") %>'>

</div>