<%  iTag    = Date.today.day
    sZusatz = case iTag
              when 4      then 'Hl. Barbara'
              when 5      then 'Krampustag'
              when 6      then 'Hl. Nikolaus'
              when 7      then '2.Advent'
              when 8      then 'Maria Empfängnis'
              when 14     then '3.Advent'
              when 15..20 then "Nur noch #{ 24 - iTag } Tage bis Weihnachten"
              when 21     then '4.Advent - Jetzt ist es nicht mehr lang'
              when 22     then "Nur noch #{ 24 - iTag } Tage bis Weihnachten"
              when 23     then 'Nur noch 1 Tag bis Weihnachten'
              when 24     then 'Heilig Abend - Frohe Weihnachten'
              else nil
              end
%>

<div id="overlay">
  <div id="window">
    <div class="button">
      <div class="close"></div>
    </div>
    <div id="content">
    </div>
  </div>
  <div id="background"></div>
</div>

<div class='title'>
  <%= iTag %>. Advent<%=  if sZusatz
                            content_tag :div, ' - ' + sZusatz, class: :zusatz
                          else
                            ''
                          end
                      %>
</div>

<div class='all_fenster' data-url='<%= url_for(action: :window, id: "_nr_") %>'>

</div>