<%  iTag    = Date.today.day
    sZusatz = case iTag
              when 4 then 'Hl. Barbara'
              when 5 then 'Krampustag'
              when 6 then 'Hl. Nikolaus'
              else nil
              end
%>

<div id="overlay">
  <div id="window">
    <div class="button">
      <div class="close"></div>
    </div>
    <div id="content">
    </div>
  </div>
  <div id="background"></div>
</div>

<div class='title'>
  <%= iTag %>. Advent<%=  if sZusatz
                            content_tag :div, ' - ' + sZusatz, class: :zusatz
                          else
                            ''
                          end
                      %>
</div>

<div class='all_fenster' data-url='<%= url_for(action: :window, id: "_nr_") %>'>

</div>